<div class="container-fluid">
<div class="row padding">
	<div class="col-md-12 col-lg-12">
		<h1>Rank Menu Items by Nutrition</h1>
		<br>
		<p class="nutrition-subtext">
            Below is a table containing menu items from a specific restaurant or all restaurants available on this site along with
			the <b>Caloric content</b>, <b>Macronutrients</b>, and <b>Efficiency</b> (percentage of total calories from protein) of each item.
		</p>
        <h3>Features / How to use:</h3>
			<ul>
				<li>Select the restaurant you wish to browse the menu from (the "All Restaurants" option may be laggy)</li>
				<li>Check the box next to "Exclude Drinks" to remove all drinks from the table</li>
				<li>Type in a minimum and maximum range in the calories and 3 macronutrient fields to only display items that fit within that range</li>
				<li>Click on the labels on the table to filter items by that category</li>
				<li>Display more entries by modifying the number in the "Show _ Entries" dropdown list</li>
				<li>Use the search field to find a specific item or set of items by name on the table</li>
				<li>Click on the names of items on the table to see that item's full nutritional information (nutrition label and macronutrient breakdown)</li>
				<li>Navigate all of the items on the table with the Previous and Next buttons below the table to see all of the pages</li>
			</ul>
		<p>
		</p>
	</div>
</div>
</div>
