<div id="piechart"></div>
<script>
/* Pie chart */
anychart.onDocumentReady(function() {

  // set the data
  var data = [
      {x: "Carbs", value: {{ output.calories_from_carbs }}, normal: {fill: "#00FFFF"} },
      {x: "Fat", value: {{ output.calories_from_fat }}, normal: {fill: "#00FF00"} },
      {x: "Protein", value: {{ output.calories_from_protein }}, normal: {fill: "#FF0000"} },
  ];

  // create the chart
  var chart = anychart.pie();

  // set the chart title
  chart.title("Calories from Macronutrients");

  // add the data
  chart.data(data);

  // display the chart in the container
  chart.container('piechart');
  // set legend position
  chart.legend().position("top");
  // set items layout
  chart.legend().itemsLayout("horizontal");
  chart.normal().stroke("#669999", 3);
  chart.radius("48%")
  chart.draw();

});
</script>