@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', san-serif;
  color: #222;
}
navbar {
  padding: .7rem;
}
.navbar-nav li {
  padding-right: 18px;
}
.nav-link h6{
  font-size: 1.2rem !important;
  font-weight: bold;
  color: rgb(150,150,150);
}
.nav-link:hover h6{
    color: rgba(0, 0, 255, 0.5);
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500%;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}
.btn-primary:hover {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 65%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
.carousel-caption {
  top: 45%;
}
.carousel-caption h1 {
  font-size: 350%;
}
.carousel-caption h3 {
  font-size: 140%;
  font-weight: 400%;
  padding-bottom: 0.2rem;
}
.carousel-caption .btn {
  font-size: 95%;
  padding: 8px 14px;
}
.display-4 {
  font-size: 200%;
}
}
@media (max-width: 576px) {
    .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
.carousel-caption {
  top: 40%;
}
.carousel-caption h1 {
  font-size: 250%;
}
.carousel-caption h3 {
  font-size: 110%;
}
.carousel-caption .btn {
  font-size: 90%;
  padding: 4px 8px;
}
.carousel-indicators {
  display: none;
}
.display-4 {
  font-size: 160%;
}
.social a {
  font-size: 2em;
  padding: 0.7em;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* Tables */
.nutrition-table-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.table .item-numbers { /* For Calculator and Lookup results table */
    font-weight: bold;
    font-size: 1.2rem;
}

.table .table-no-grid {
    border: none;
}
.table .filter-label {
    padding-right: 12px;
    font-weight: bold;
    font-size: 1.2rem;
}

.exclude-drinks-label {
    display: block;
    padding-left: 15px;
    text-indent: 15px;
}

.exclude-drinks-checkbox {
    width: 15px;
    height: 15px;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 255, 0.1);
}

.table th {
  background-color: rgba(0, 0, 255, 0.2);
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table td {
    font-size: 1.0rem;
    padding: 0.5 rem;
}

/* thumbnails */
.calculator-restaurant-thumbnail {
    height: 125px;
    width: auto;
    padding: 20px;
}
.order-restaurant-thumbnail {
    height: 40px;
    width: auto;
}

/* piechart */
#piechart {
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
}

/* Nutrition Label */
@charset "UTF-8";
body {
  font-size: small;
  line-height: 1.4;
}

p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 370px;
  padding: 0.5rem;
}
.performance-facts table {
  border-collapse: collapse;
}

.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
  margin: 0;
}
.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
  width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th, .performance-facts__table thead tr td, .performance-facts__table--small thead tr td, .performance-facts__table--grid thead tr td {
  border: 0;
}
.performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th, .performance-facts__table td, .performance-facts__table--small td, .performance-facts__table--grid td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}
.performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
  text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
  width: 1rem;
  border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th, .performance-facts__table .thick-row td, .performance-facts__table--small .thick-row td, .performance-facts__table--grid .thick-row td {
  border-top-width: 5px;
}
.small-info {
  font-size: 0.7rem;
}
.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
  border-bottom: 1px solid black;
}
.performance-facts__table--small td:last-child {
  text-align: left;
}
.performance-facts__table--small th, .performance-facts__table--small td {
  border: 0;
  padding: 0;
}
.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
  text-align: left;
}
.performance-facts__table--grid td:last-child::before {
  content: "•";
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

.text-center {
  text-align: center;
}

.thick-end {
  border-bottom: 10px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
.carousel-caption {
  top: 45%;
}
.carousel-caption h1 {
  font-size: 350%;
}
.carousel-caption h3 {
  font-size: 140%;
  font-weight: 400%;
  padding-bottom: 0.2rem;
}
.carousel-caption .btn {
  font-size: 95%;
  padding: 8px 14px;
}
.display-4 {
  font-size: 200%;
}
}
@media (max-width: 576px) {
    .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
.carousel-caption {
  top: 40%;
}
.carousel-caption h1 {
  font-size: 250%;
}
.carousel-caption h3 {
  font-size: 110%;
}
.carousel-caption .btn {
  font-size: 90%;
  padding: 4px 8px;
}
.carousel-indicators {
  display: none;
}
.display-4 {
  font-size: 160%;
}
.social a {
  font-size: 2em;
  padding: 0.7em;
}
}

/* Contact Form */
.email-sent-message {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 300px;
}
.email-send-message {
    padding-top: 40px;
    padding-bottom: 200px;
}