{% extends "main/header.html" %}
{% block content %}
<main role="main" class="container methodology-container">
    <h2>Methodology</h2>
    <div class="col-md-12 col-lg-9 col-xl-6">
        <p>Efficiency is a ratio of calories from protein (other another specified macro-nutrient)
            over the total number of calories in the meal displayed as a percentage. For example if a meal contained
            500 calories and 25 grams of protein the efficiency of the meal is calculated as such:
            25 grams of protein  X 4 calories per gram (there are 4 calories in each gram of protein) = 100 calories from
            protein. 100 calories from protein / 500 total calories = 0.2 or 20% efficiency.
        </p>
    <br>
        <p>There are three primary macro-nutrients, carbohydrates (carbs), fat, and protein
            that comprise the total caloric content of any particular item of food. Carbs and protein are both
            4 calories per gram and fat is 9 calories per gram. The Efficiency ratio
            referenced in the "Nutrition" tab on this site is protein as this is typically the macro-nutrient
            most people tend to concern themselves with but efficiency ratios for all three macro-nutrients are displayed
            in the pie chart in both the "Lookup" tab for every item and in the "Calculator"
            tab for every user-inputted order.
        </p>
    </div>
</main>
{% endblock %}