{% extends "main/header.html" %}
{% load static %}
{% block content %}
<main role="main" class="container methodology-container">
    <h2>Methodology</h2>
    <div class="row padding">
        <div class="col-md-12 col-lg-9 col-xl-6">
            <p>
                <b>Efficiency</b> is a ratio of calories from protein (other another specified macro-nutrient)
                over the total number of calories in the meal displayed as a percentage. For example if a meal contained
                500 calories and 25 grams of protein the efficiency of the meal is calculated as such:
                25 grams of protein  X 4 calories per gram (there are 4 calories in each gram of protein) = 100 calories from
                protein. 100 calories from protein / 500 total calories = 0.2 or 20% efficiency.
            </p>
            <p>
                There are <b>three primary macronutrients, carbohydrates (carbs), fat, and protein</b>
                that comprise the total caloric content of any particular item of food. <b>Carbs and protein are both
                4 calories per gram and fat is 9 calories per gram.</b> The Efficiency ratio
                referenced in the <b>Nutrition</b> page on this site is protein as this is typically the macro-nutrient
                most people tend to concern themselves with but efficiency ratios for all three macro-nutrients are displayed
                in the pie chart in both the <b>Lookup</b> page for every item and in the <b>Calculator</b>
                page for every user-inputted order.
            </p>
            <p>
                Protein is comprised of <b>amino acids which are used to maintain and repair muscle tissue</b>.
                It is recommended to get <b>between 0.65 grams - 1.0 gram of protein per pound of body weight a day </b> if your goal
                is to build muscle. Although they do not directly build muscle it is vital to get the proper amount of carbohydrates
                and fat in your diet as well to maximize muscle growth and overall health. Refer to the following article for more
                information: <b><a href="https://lifesum.com/health-education/how-to-count-macros-for-building-muscle-and-losing-fat/" target="_blank">Link</a></b>

            </p>
        </div>
        <div class="col-md-12 col-lg-9 col-xl-6">
            <img class="methodology-page-image center" id="pie-chart-example" src="{% static 'main/media/piechart-example.png' %}">
        </div>
    </div>
</main>
{% endblock %}