{% extends 'main/header.html' %}
{% load static %}
{% load length %}
{% load add_main %}
{% load blurbify %}
{% load redirect_drinks %}
{% block content %}
    {% if chosen_restaurant != "All" %}
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="LogoAndName">
                        <img src="{% static chosen_restaurant.logo.url|add_main %}" height="275px" width="auto">
                        <h2>{{chosen_restaurant.name}}</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>{{ chosen_restaurant.description|blurbify }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    {% include 'main/includes/protein_table.html' %}
{% endblock %}

