{% load static %}
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-md-12 col-lg-6">
		<h2>Our Philosophy</h2>
		<p>The columns will automatically stack on top of each other when the screen is less than 657px wide.</p>
		<p>Resize the browser window to see the effect. Responsive web design has become more important as the amount of mobile traffic now accounts for more than half of total internet traffic.</p>
	</div>
	<div class="col-lg-6">
		<img class="home-page-image" id="fit-guy-eating" src="{% static 'main/media/fit-guy-eating.png' %}">
	</div>
</div>
<hr class="my-4">
</div>