{% load increment %}
{% load common %}
{% load static %}
<div class="build-a-meal">
    <h2>Build a Meal</h2><br>
    <h5>&nbsp&nbsp Select a Restaurant</h5>
    <form method="GET">
      <div class="form-group col-md-4">
          <select id="inputState" name="restaurantName" class="form-control" onchange="location = this.value;">
            {% if chosen_restaurant == "All" %}
                <option value ="/calculator/all/" selected>All Restaurants</option>
                 {% for restaurant in restaurants %}
                    <option value="/calculator/{{ restaurant.slug }}/">{{ restaurant.name }}</option>
                 {% endfor %}
            {% else %}
                <option value="/calculator/{{ chosen_restaurant.slug }}/" selected>{{ chosen_restaurant.name }}</option>
                <option value="/calculator/all/">All Restaurants</option>
                {% for restaurant in restaurants %}
                    <option value="/calculator/{{ restaurant.slug }}/">{{ restaurant.name }}</option>
                {% endfor %}
            {% endif %}
          </select>
          {% if chosen_restaurant != "All" %}
            <img src = "/static/main/{{chosen_restaurant.logo.url}}" class="calculator-restaurant-thumbnail">
          {% endif %}
      </div>
      <div class="container">
          <br>
          <h5>Enter Your Order</h5>
        <table id="myTable" class="table order-list">
        <thead>
            <tr>
                <td><b>#</b></td>
                <td><b>Item</b></td>
                <td><b>Quantity</b></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        <datalist id="itemList">
            {% if chosen_restaurant == "All" %}
                {% for item in items %}
                    <option value="{{ item }} | {{ item.restaurant }}">{{ item }} | {{ item.restaurant }}</option>
                {% endfor %}
            {% else %}
                {% for item in items %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            {% endif %}
        </datalist>
            {% if order|length == 0 %}
            <tr>
                <td><h3>1.</h3></td>
                <td class="col-sm-3">
                 <div class="autocomplete">
                    <input type="search" id="myInput1" class="myInput form-control" placeholder="Enter Item" name="itemName1" autocomplete="off" list="itemList">
                 </div>
                </td>
                <td class="col-sm-1">
                    <select class="custom-select" name="itemQuantity1">
                    {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                    </select>
                </td>
                <td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>
            </tr>
            {% else %}
                {% for itemList in order %}
                    <tr>
                        <td><h3>{{ itemList.0 }}.</h3></td>
                        <td class="col-sm-3">
                         <div class="autocomplete">
                             {% if chosen_restaurant != "All" %}
                                <input type="search" id="{{ itemList.9 }}" class="myInput form-control" value="{{ itemList.1 }}" name="{{ itemList.10 }}" autocomplete="off" list="itemList">
                             {% else %}
                                <input type="search" id="{{ itemList.9 }}" class="myInput form-control" value="{{ itemList.1 }} | {{ itemList.12 }}" name="{{ itemList.10 }}" autocomplete="off" list="itemList">
                             {% endif %}
                         </div>
                        </td>
                        <td class="col-sm-1">
                            <select class="custom-select" name="{{ itemList.11 }}">
                            {% for option in options %}
                                {% if option == itemList.2 %}
                                    <option value="{{ option }}" selected="selected">{{ option }}</option>
                                {% else %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Item" />
                </td>
            </tr>
        </tfoot>
    </table>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
</form>
    {% if order|length != 0 %}
    <div class="Results">
    {% include 'main/includes/nutrition_facts.html' %}

    <table id="orderTable" class="table table-striped">
        <thead>
            <tr>
                <th><b>#</b></th>
                <th></th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Calories</th>
                <th>Carbs (g)</th>
                <th>Fat (g)</th>
                <th>Protein (g)</th>
            </tr>
        </thead>
        <tbody>
            {% for itemList in order %}
            <tr>
                <td class="item-numbers">{{ itemList.0 }}.</td>
                <td><img src="/static/main/{{ itemList.8.url }}" class="order-restaurant-thumbnail"></td>
                <td><a href="/lookup/{{ itemList.12|slugify }}/{{ itemList.1|slugify }}/" target="_blank">{{ itemList.1 }}</a></td>
                <td>{{ itemList.2 }}</td>
                <td>{{ itemList.4 }}</td>
                <td>{{ itemList.5 }}</td>
                <td>{{ itemList.6 }}</td>
                <td>{{ itemList.7 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
</div>
<script>
/* Dynamically add rows */
var counter = {{ order|length }};
if (counter == 0){
    counter = 1
    }
$("#addrow").on("click", function () {
    if (counter < 20){
        counter++;
        var newRow = $("<tr>");
        var cols = "";
        var optionList;
        for (var x = 1; x < 21; x++) {
            optionList += '<option value=' + x + '>' + x + '</option>';
        }
        cols += '<td><h3>' + counter + '.</h3></td>'
        cols += '<td><input type="search" id="myInput' + counter + '" class="myInput form-control" placeholder = "Enter Item" name="itemName' + counter + '" autocomplete="off" list="itemList"></td>';
        cols += '<td><select class = "custom-select" name = "itemQuantity' + counter + '">' + optionList +'</select></td>';
        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';

        newRow.append(cols);
        $("table.order-list").append(newRow);

    }
});
$("table.order-list").on("click", ".ibtnDel", function (event) {
    $(this).closest("tr").remove();
    counter -= 1
});
</script>


