{% load static %}
<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
			<img src="{% static 'main/media/Logo-small.png' %}">
		</div>
		<div class="col-md-4">
			<img src="{% static 'main/media/Logo-small.png' %}">
		</div>
		<div class="col-md-4">
			<img src="{% static 'main/media/Logo-small.png' %}">
		</div>
		<div class="col-12">
			<hr class="light-100">
			<h6><a href="https://www.freepik.com/free-photos-vectors/food">Logo created by rawpixel.com - www.freepik.com</a></h6>
			<h5>&copy; EfficientEats.com</h5>
	</div>
</div>
