{% load static %}
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-md-12 col-lg-7">
		<h1>The Philosophy</h1>
		<br>
		<p>Do you care about staying in shape? Do you want to lose weight? Put on muscle? If you answered yes to any of these questions
		but think you have to relegate yourself to boiled chicken breast and broccoli dinners for the rest of your life, fear not!
			<b>It turns out you can in fact enjoy eating out without getting fat or inhibiting your progress at the gym.</b>
		</p>

		<p>No, I am not trying to sell you snake oil or sabotage your gains. Everything presented here is well established science.
		You can in fact enjoy a Big Mac from McDonalds for lunch every day and still achieve all of your fitness goals. As it turns out weight loss
		and weight gain really is as simply as calories in and calories out. As we know from the first law of thermodynamics, energy cannot be created
		or destroyed but only transferred from one form to another. Our bodies require energy to be able to go through the day. Even if you're just staring up
		at the ceiling in silence your body is still using energy to perform all the metabolic functions that keep you alive and that energy has to come from
		somewhere. And where do we get our energy from? That's right. Food.
		</p>
	</div>
	<div class="col-lg-5">
		<img class="home-page-image" id="fit-guy-eating" src="{% static 'main/media/fit-guy-eating.png' %}">
	</div>
	<br>
	<div class="col-lg-5">
		<img class="home-page-image" id="big-mac-display" src="{% static 'main/media/big-mac-display.png' %}">
	</div>
	<div class="col-lg-7">
		<p>Calories are essentially a measure of how much energy is in the food you eat. Depending on your height, weight, age, physical activity level, and
		other factors, we all burn a certain amount of calories each day which comes from the food we eat. If you want to find out how many calories your body requires
		each day to maintain your current lifestyle and weight, try using this online <b><a href="https://www.healthline.com/nutrition/how-many-calories-per-day" target="_blank">calculator</a></b>.
		</p>

		<p>So knowing that we burn a certain number of calories each day and that those calories come from food, what happens if we consume fewer calories from food
			than we burn in that day? This brings us to the concept of a <b>caloric deficit</b>, the key to weight loss. You may have noticed that if you didn't eat a lot one day your
		body didn't just totally shut down on you. This is because our body stores fat precisely for situations like those. Fat in your body is energy in reserve that is there'
		as a backup plan to when food is not readily available. Again, since we know energy cannot be created or destroyed but only transferred, if you're not getting the energy
		you need from food to go about your day, your body will get that energy from fat storage instead. This is how weight loss (specifically fat loss) occurs. In order
		to consistently lose fat for any extended period of time, you MUST be in a caloric deficit meaning you consume fewer calories than your body burns off in a day
		forcing your body to burn fat instead.
		</p>
	</div>
	<br>
	<div class="col-lg-7">
		<p>To provide an example of how this works, let's say your daily caloric burn is 2500 calories and you only eat 2000 calories for one whole week. That means
			you will burn 500 calories worth of fat a day from your body's fat storage. <b>A pound of fat is roughly equal to 3500 calories</b> so if you burn 500 a day for 7 days a week
		you will burn off approximately 1 pound of fat in a week (500 x 7 = 3500).
		</p>

		<p>The process for gaining weight follows the same logic. Any calories you consume that your body does not burn are stored in the body as fat. This is known as a <b>caloric surplus</b>.
			So if the same person who burns 2500 calories a day ate 3000 calories a day they would be putting on roughly 1 pound of fat per week.
		</p>

		<p>What about muscle? Muscle is built by a combination of resistance training and proper nutrition, particularly proper protein intake as <b>protein</b> is comprised of amino acids which are the
		building blocks of muscle in the body. It is recommended to get between 0.65 to 1 gram of protein per pound of body weight if your goal is to put on muscle.
		It is generally considered easier to put on muscle in a caloric surplus than a caloric deficit or maintenance but it is not not impossible to do so. I would recommend using an online
			<b><a href="https://www.iifym.com/iifym-calculator/" target="_blank">calculator</a></b> to figure out exactly how much protein, as well as <b>fats</b> and <b>carbohydrates</b> (the 3 macronutrients) you should be getting
			as well as how many calories you should be eating. Protein, fat, and carbs are your <b>Macros</b> and once you know how many of each you should be getting you can start eating for your goals, whether
		they be weight loss, muscle gain, or just maintenance of your current body composition.
		</p>
		<p>Once you figure that out, that's where this site comes in. As it turns out Big Macs and all other food items consist of calories from protein, fats, and carbs and as long as you are meeting your
		macronutrient and caloric requirements for your goals, you can reach them even eating fast food along the way! Now, bear in mind there are other health concerns that are worth considering such cholesterol and
		saturated fat content that may affect heart health. However as long as you consume "bad foods" in moderation to avoid the previously mentioned problems with cholesterol and otherwise and keep to your macro and
		calorie numbers you can achieve your fitness and body goals and this site is here to help you with just that.
		</p>
	</div>
	<div class="col-lg-5">
		<img class="home-page-image" id="iifym-display" src="{% static 'main/media/iifym-display.png' %}">
	</div>
		<p>Thankfully all <b>QSRs</b> (Quick Service Restaurants) are required to post their nutritional information. I took the liberty of aggregating and filtering all that information for you so that you
			can select the items you want to eat that also fit nicely into your daily macronutrient requirements. Check out the <b><a href="/nutrition/mcdonalds/">Nutrition</a></b> section to sort the menu items of your favorite QSR
		by any nutritional filter you choose, including how many of the calories from that item come from protein, to find the items that suit your goals best. You can also look up menu items individually to see
			their nutritional stats and macronutrient breakdown in the <b><a href="/lookup/mcdonalds/">Lookup</a></b> page. Want to check the nutrition facts and macros of an entire order composed of multiple menu items?
			Check out the <b><a href="/calculator/mcdonalds/">Calculator</a></b> page. If you want to see the methodology behind some of the calculations presented on these pages, check out the <b><a href="/methodology/">Methodology</a></b> page.
		</p>
	<br>
</div>
<hr class="my-4">
</div>