<!-- needed for dataTales-->

{% load percentify %}
{% load remove_trailing_zero %}
<main role="main" class="container">
    <h2>Nutrition Table</h2><br>
    <h5>&nbsp&nbsp Select a Restaurant</h5>
    <div class="form-group col-md-4">
      <select id="inputState" name="restaurantName" class="form-control" onchange="location = this.value;">
        {% if chosen_restaurant == "All" %}
            <option value ="/nutrition/all/" selected>All Restaurants</option>
             {% for restaurant in restaurants %}
                <option value="/nutrition/{{ restaurant.slug }}/">{{ restaurant.name }}</option>
             {% endfor %}
        {% else %}
            <option value="/nutrition/{{ chosen_restaurant.slug }}/" selected>{{ chosen_restaurant.name }}</option>
            <option value="/nutrition/all/">All Restaurants</option>
            {% for restaurant in restaurants %}
                <option value="/nutrition/{{ restaurant.slug }}/">{{ restaurant.name }}</option>
            {% endfor %}
        {% endif %}
      </select>
    </div>
          <div class="form-check">

              {% if drinks == True %}
                  {% if chosen_restaurant == "All" %}
                    <label class="exclude-drinks-label"><input value = "/nutrition/all/no-drinks/" class="exclude-drinks-checkbox form-check-input" type="checkbox" id="gridCheck1"  onchange="location = this.value;">Exclude Drinks</label>
                  {% else %}
                    <label class="exclude-drinks-label"><input value = "/nutrition/{{ chosen_restaurant.slug }}/no-drinks/" class="exclude-drinks-checkbox form-check-input" type="checkbox" id="gridCheck1"  onchange="location = this.value;">Exclude Drinks</label>
                  {% endif %}
              {% else %}
                  {% if chosen_restaurant == "All" %}
                     <label class="exclude-drinks-label"><input value = "/nutrition/all/" class="exclude-drinks-checkbox form-check-input" type="checkbox" id="gridCheck1"  onchange="location = this.value;" checked>Exclude Drinks</label>
                  {% else %}
                     <label class="exclude-drinks-label"><input value = "/nutrition/{{ chosen_restaurant.slug }}/" class="exclude-drinks-checkbox form-check-input" type="checkbox" id="gridCheck1"  onchange="location = this.value;" checked>Exclude Drinks</label>
                  {% endif %}
              {% endif %}
          </div>
    <div class="container-fluid">
        <div class="table_wrapper">
            <table class ="table table-no-grid">
                <tbody>
                <tr>
                    <td class="filter-label">Calories:</td>
                    <td>Minimum:</td>
                    <td><input type="text" id="calorie-min" name="calorie-min"></td>
                    <td>Maximum:</td>
                    <td><input type="text" id="calorie-max" name="calorie-max"></td>
                </tr>
                <tr>
                    <td class="filter-label">Carbs:</td>
                    <td>Minimum:</td>
                    <td><input type="text" id="carbs-min" name="carbs-min"></td>
                    <td>Maximum:</td>
                    <td><input type="text" id="carbs-max" name="carbs-max"></td>
                </tr>
                <tr>
                    <td class="filter-label">Fats:</td>
                    <td>Minimum:</td>
                    <td><input type="text" id="fat-min" name="fat-min"></td>
                    <td>Maximum:</td>
                    <td><input type="text" id="fat-max" name="fat-max"></td>
                </tr>
                <tr>
                    <td class="filter-label">Protein:</td>
                    <td>Minimum:</td>
                    <td><input type="text" id="protein-min" name="protein-min"></td>
                    <td>Maximum:</td>
                    <td><input type="text" id="protein-max" name="protein-max"></td>
                </tr>
                </tbody>
             </table>
                <table id="protein_table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Restaurant</th>
                            <th>Item</th>
                            <th>Calories</th>
                            <th>Carbs(g)</th>
                            <th>Fat(g)</th>
                            <th>Protein(g)</th>
                            <th>Efficiency</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                                <tr>
                                    {% filter capfirst %}
                                    <td>{{ item.restaurant }}</td>
                                    <td><a href="/lookup/{{ item.restaurant.slug }}/{{ item.slug }}/" target="_blank">{{ item.name }}</a></td>
                                    {% endfilter %}
                                    <td>{{ item.calories }}</td>
                                    <td>{{ item.carbs|remove_trailing_zero }}</td>
                                    <td>{{ item.total_fat|remove_trailing_zero }}</td>
                                    <td>{{ item.protein|remove_trailing_zero }}</td>
                                    <td>{{ item.protein_efficiency|percentify }}%</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</main>
<!-- the second way to do it to integrate our buttons for export-->

<script>
/* Custom filtering function which will search data in column four between two values */
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var calorie_min = parseInt( $('#calorie-min').val(), 10 );
        var calorie_max = parseInt( $('#calorie-max').val(), 10 );
        var calories = parseFloat( data[2] ) || 0; // use data for the calories column

        var carbs_min = parseInt( $('#carbs-min').val(), 10 );
        var carbs_max = parseInt( $('#carbs-max').val(), 10 );
        var carbs = parseFloat( data[3] ) || 0; // use data for the carbs column

        var fat_min = parseInt( $('#fat-min').val(), 10 );
        var fat_max = parseInt( $('#fat-max').val(), 10 );
        var fat = parseFloat( data[4] ) || 0; // use data for the fat column

        var protein_min = parseInt( $('#protein-min').val(), 10 );
        var protein_max = parseInt( $('#protein-max').val(), 10 );
        var protein = parseFloat( data[5] ) || 0; // use data for the protein column


        if ( ( isNaN( calorie_min ) && isNaN( calorie_max ) ) ||
             ( isNaN( calorie_min ) && calories <= calorie_max ) ||
             ( calorie_min <= calories   && isNaN( calorie_max ) ) ||
             ( calorie_min <= calories  && calories <= calorie_max ) )

        if ( ( isNaN( carbs_min ) && isNaN( carbs_max ) ) ||
           ( isNaN( carbs_min ) && carbs <= carbs_max ) ||
           ( carbs_min <= carbs   && isNaN( carbs_max ) ) ||
           ( carbs_min <= carbs  && carbs <= carbs_max ) )

        if ( ( isNaN( fat_min ) && isNaN( fat_max ) ) ||
           ( isNaN( fat_min ) && fat <= fat_max ) ||
           ( fat_min <= fat   && isNaN( fat_max ) ) ||
           ( fat_min <= fat  && fat <= fat_max ) )

        if ( ( isNaN( protein_min ) && isNaN( protein_max ) ) ||
             ( isNaN( protein_min ) && protein <= protein_max ) ||
             ( protein_min <= protein   && isNaN( protein_max ) ) ||
             ( protein_min <= protein  && protein <= protein_max ) )
    {
        return true;
    }
    return false;
    }
);

$(document).ready(function() {
    var table = $('#protein_table').DataTable();

    // Event listener to the two range filtering inputs to redraw on input
    $('#calorie-min, #calorie-max, #protein-min, #protein-max, #carbs-min, #carbs-max, #fat-min, #fat-max').keyup(function() {
        table.draw();
    });
} );
</script>
