<!-- needed for dataTales-->

{% load percentify %}
{% load remove_trailing_zero %}
<h5>&nbsp&nbsp Select a Restaurant</h5>
<div class="form-group col-md-4">
  <select id="inputState" name="restaurantName" class="form-control" onchange="location = this.value;">
    {% if chosen_restaurant == "All" %}
        <option value ="/nutrition/all/" selected>All Restaurants</option>
         {% for restaurant in restaurants %}
            <option value="/nutrition/{{ restaurant.slug }}/">{{ restaurant.name }}</option>
         {% endfor %}
    {% else %}
        <option value="/nutrition/{{ chosen_restaurant.slug }}/" selected>{{ chosen_restaurant.name }}</option>
        <option value="/nutrition/all/">All Restaurants</option>
        {% for restaurant in restaurants %}
            <option value="/nutrition/{{ restaurant.slug }}/">{{ restaurant.name }}</option>
        {% endfor %}
    {% endif %}
  </select>
</div>

 <div class="form-row">
    <div class="col-sm-2">Exclude Drinks</div>
    <div class="col-sm-10">
      <div class="form-check">
          {% if drinks == True %}
              {% if chosen_restaurant == "All" %}
                 <input value = "/nutrition/all/no-drinks/" class="form-check-input" type="checkbox" id="gridCheck1"  onchange="location = this.value;">
              {% else %}
                <input value = "/nutrition/{{ chosen_restaurant.slug }}/no-drinks/" class="form-check-input" type="checkbox" id="gridCheck1"  onchange="location = this.value;">
              {% endif %}
          {% else %}
              {% if chosen_restaurant == "All" %}
                 <input value = "/nutrition/all/" class="form-check-input" type="checkbox" id="gridCheck1"  onchange="location = this.value;" checked>
              {% else %}
                <input value = "/nutrition/{{ chosen_restaurant.slug }}/" class="form-check-input" type="checkbox" id="gridCheck1"  onchange="location = this.value;"checked>
              {% endif %}
          {% endif %}
      </div>
    </div>
  </div>
<div class="container-fluid">
    <div class="table_wrapper">
        <div class="col-xs-12">
        <table border="0" cellspacing="5" cellpadding="5">
            <tbody>
            <tr>
                <td><h6>Calories: &nbsp</h6></td>
                <td>Minimum:</td>
                <td><input type="text" id="calorie-min" name="calorie-min"></td>
                <td>Maximum:</td>
                <td><input type="text" id="calorie-max" name="calorie-max"></td>
            </tr>
            <tr>
                <td><h6>Protein: &nbsp</h6></td>
                <td>Minimum:</td>
                <td><input type="text" id="protein-min" name="protein-min"></td>
                <td>Maximum:</td>
                <td><input type="text" id="protein-max" name="protein-max"></td>
            </tr>
            </tbody>
         </table>
            <table id="protein_table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Restaurant</th>
                        <th>Item</th>
                        <th>Calories</th>
                        <th>Carbs(g)</th>
                        <th>Fat(g)</th>
                        <th>Protein(g)</th>
                        <th>Efficiency</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in items %}
                            <tr>
                                {% filter capfirst %}
                                <td>{{ item.restaurant }}</td>
                                <td>{{ item.name }}</td>
                                {% endfilter %}
                                <td>{{ item.calories}}</td>
                                <td>{{ item.carbs|remove_trailing_zero }}</td>
                                <td>{{ item.total_fat|remove_trailing_zero }}</td>
                                <td>{{ item.protein|remove_trailing_zero }}</td>
                                <td>{{ item.protein_efficiency|percentify }}%</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- the second way to do it to integrate our buttons for export-->

<script>
/* Custom filtering function which will search data in column four between two values */
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var calorie_min = parseInt( $('#calorie-min').val(), 10 );
        var calorie_max = parseInt( $('#calorie-max').val(), 10 );
        var calories = parseFloat( data[2] ) || 0; // use data for the calories column
        var protein_min = parseInt( $('#protein-min').val(), 10 );
        var protein_max = parseInt( $('#protein-max').val(), 10 );
        var protein = parseFloat( data[5] ) || 0; // use data for the protein column

        if ( ( isNaN( calorie_min ) && isNaN( calorie_max ) ) ||
             ( isNaN( calorie_min ) && calories <= calorie_max ) ||
             ( calorie_min <= calories   && isNaN( calorie_max ) ) ||
             ( calorie_min <= calories  && calories <= calorie_max ) )

        if ( ( isNaN( protein_min ) && isNaN( protein_max ) ) ||
             ( isNaN( protein_min ) && protein <= protein_max ) ||
             ( protein_min <= protein   && isNaN( protein_max ) ) ||
             ( protein_min <= protein  && protein <= protein_max ) )
    {
        return true;
    }
    return false;
    }
);

$(document).ready(function() {
    var table = $('#protein_table').DataTable();

    // Event listener to the two range filtering inputs to redraw on input
    $('#calorie-min, #calorie-max, #protein-min, #protein-max').keyup(function() {
        table.draw();
    });
} );
</script>
